<ion-view title="Diagnostics">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <ion-refresher
                refreshing-icon="ion-loading-c"
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Find your service">
            </label>
            <ion-item>
                <h2 class="text-center">My Home Broadband</h2>
                <h3 class="text-center">Zen Unlimited Fibre 1</h3>
                <h3 class="text-center">01638200967 (zen76282@zen)</h3>
                <button class="button button-block button-energized">
                    Amber
                </button>
            </ion-item>
            <ion-item class="item-body">
                <h2>Summary</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur dolore earum nihil
                porro sequi sit tempore. A aliquam, cumque deleniti dolorem eos hic mollitia nisi nobis pariatur totam
                unde.
            </ion-item>
            <ion-item class="item-body">
                <h2>Details</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores excepturi quis velit? Asperiores
                atque deleniti dolore dolorum eos exercitationem facilis fugiat id impedit ipsam itaque iusto, provident
                quia temporibus.
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
