<ion-view title="Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <div style="margin-left: auto; margin-right: auto; width: 8em; margin-top: 2em; margin-bottom: 2em;">
            <img src="img/zen-logo-large.png"/>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
            <button class="button button-block button-positive">
                Sign in
            </button>
        </div>
    </ion-content>
</ion-view>
